.App {
  text-align: center;       
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokedex-container , .searchbar-container {
  background-color: #eeeeee;
}

.pokedex-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
  display: flex;
  border-bottom: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: black;
}

.pokemon-card h3 {
  text-transform: capitalize;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom-data {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.page-unica {
  text-transform: capitalize;
  padding: 5px;
  margin: 5px;
}

.parte-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parte-b {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
